

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="passwordEdit" id="passwordEdit" >
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" name="username" id="username" lay-verify="required" readonly="true" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">用户名不可被修改</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="oldPassword" id="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="password" lay-verify="required" lay-verType="tips" autocomplete="off" id="password" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="repass" id="repass" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmypass" id="setmypass" name="setmypass">确认修改</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user']);



  //对表单的操作
  layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;

      function get_cookie(Name) {
          var search = Name + "="//查询检索的值
          var returnvalue = "";//返回值
          if (document.cookie.length > 0) {
              sd = document.cookie.indexOf(search);
              if (sd!= -1) {
                  sd += search.length;
                  end = document.cookie.indexOf(";", sd);
                  if (end == -1)
                      end = document.cookie.length;
                  //unescape() 函数可对通过 escape() 编码的字符串进行解码。
                  returnvalue=unescape(document.cookie.substring(sd, end))
              }
          }
          return returnvalue;
      }
      var username=get_cookie("username");

      //表单初始赋值
      form.val('passwordEdit', {
          "username": username
      });


      form.on('submit(setmypass)', function (obj) {
          var field = obj.field;

          //确认密码
          if (field.password === field.oldPassword) {
              return layer.msg('新密码不能和旧密码相同');
          }else if (field.password !== field.repass) {
              //确认密码
              return layer.msg('两次密码输入不一致');
          }else  if(field.password.length<6||field.password.length>16){
              return layer.msg('请输入6-16长度的密码');
          }else {
              //ajax请求修改密码
              //Ajax请求后端更新密码
              $.ajax({
                  type: "post"
                  ,url: "updatePasswordAjax"
                  ,async: false
                  ,cache: false
                  ,data: field
                  ,dataType: "json"
                  ,success: function(res){
                      layer.msg('更新成功', {
                          offset: '15px'
                          ,icon: 1
                          ,time: 1000

                      }, function(){
                          //location.href= '/views/user/login.html'; //跳转到登入页
                          //table.reload('LAY-shop-table'); //数据刷新
                          parent.location.href= '/views/user/login.html';
                          //table.reload('LAY-shop-table');
                      });
                      return false
                  }
              });
          }
          return false;
      });
  });

  </script>
</body>
</html>